# 读取数据

In [5]:
import pandas as pd
data = pd.read_csv('salaries.csv')
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [7]:
data.shape

(148654, 13)

In [4]:
data = data.drop('Id',axis=1)
data.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
data.drop('Id',axis=1,inplace=True)
data.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [10]:
data.columns = ['员工姓名','员工职位','基本工资','加班工资','其他补贴','员工福利','合计工资','合计工资加福利','入职年份',
                '备注','代理','入职状态']
data.head()

,员工姓名,员工职位,基本工资,加班工资,其他补贴,员工福利,合计工资,合计工资加福利,入职年份,备注,代理,入职状态
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [11]:
data.describe()

,基本工资,加班工资,其他补贴,员工福利,合计工资,合计工资加福利,入职年份,备注,入职状态
count,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

# 问题1：员工的入职年份有哪些

In [12]:
data['入职年份'].unique()

array([2011, 2012, 2013, 2014])

In [13]:
data['入职年份'].nunique()

4

# 问题2：员工基本工资的平均值是多少

In [14]:
data['基本工资'].mean()

66325.44884050643

# 问题3：加班工资的最高金额是多少

In [15]:
data['加班工资'].max()

245131.88

# 问题4：员工GARY JIMENEZ的职位是什么

In [17]:
data[data['员工姓名']=='GARY JIMENEZ']['员工职位']

1    CAPTAIN III (POLICE DEPARTMENT)
Name: 员工职位, dtype: object

# 问题5：查看员工ALBERT PARDINI的基本工资是多少

In [19]:
data[data['员工姓名']=='ALBERT PARDINI']['基本工资']

2    212739.13
Name: 基本工资, dtype: float64

# 问题6：收入最高的人是谁

In [21]:
data[data['合计工资加福利']==data['合计工资加福利'].max()]['员工姓名']

0    NATHANIEL FORD
Name: 员工姓名, dtype: object

# 问题7：每年入职员工的平均基本工资是多少

In [22]:
data.groupby(['入职年份'])['基本工资'].mean()

入职年份
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: 基本工资, dtype: float64

In [24]:
# 多列的分组统计
data.groupby(['入职年份','代理'])['基本工资'].median()

入职年份  代理
2011  San Francisco    62871.72
2012  San Francisco    64017.37
2013  San Francisco    67669.00
2014  San Francisco    65055.00
Name: 基本工资, dtype: float64

# 问题8：从业人数最多的岗位前5名是什么

In [28]:
# 将员工职位转换为小写字母，方便统计
data['员工职位']=data['员工职位'].str.lower()
data['员工职位'].unique()

array(['general manager-metropolitan transit authority',
       'captain iii (police department)',
       'wire rope cable maintenance mechanic', ..., 'conversion',
       'cashier 3', 'not provided'], dtype=object)

In [32]:
data.groupby('员工职位')['员工姓名'].count().sort_values(ascending=False)[:5]

员工职位
transit operator    9424
special nurse       5791
registered nurse    4955
custodian           3214
firefighter         3153
Name: 员工姓名, dtype: int64

In [34]:
data['员工职位'].value_counts()[:5]

transit operator    9424
special nurse       5791
registered nurse    4955
custodian           3214
firefighter         3153
Name: 员工职位, dtype: int64

# 问题9：员工职位中包含Chief的员工数量

In [36]:
data['员工职位'].str.contains('chief').sum()

627

In [37]:
def chief_contains(title):
    '定义判断title中是否包含chief的函数'
    if 'chief' in title:
        return True
    else:
        return False

In [39]:
data['员工职位'].apply(lambda x:chief_contains(x)).sum()

627

# 问题10：员工福利占总收入超过50%人数最多的岗位前5名是什么

In [61]:
data['福利占比'] = round(data['员工福利']/data['合计工资加福利'],2)
data.head()

,员工姓名,员工职位,基本工资,加班工资,其他补贴,员工福利,合计工资,合计工资加福利,入职年份,备注,代理,入职状态,福利占比
0,NATHANIEL FORD,general manager-metropolitan transit authority,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,NaN
1,GARY JIMENEZ,captain iii (police department),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,NaN
2,ALBERT PARDINI,captain iii (police department),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,NaN
3,CHRISTOPHER CHONG,wire rope cable maintenance mechanic,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,NaN
4,PATRICK GARDNER,"deputy chief of department,(fire department)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,NaN

In [73]:
data.loc[data['福利占比']>0.5,'员工职位'].value_counts()[:5]

transit operator                69
commissioner 16.700c, no pay    49
superior court judge            24
deputy sheriff                  22
recreation director             19
Name: 员工职位, dtype: int64